@media and (min-width:1200) {
    .software {
        background:url(images/software.png) 0-48px;
    }
}
@media and (min-width: 1100) and (max-width:1200) {
    .software {
        background:url(images/software.png) 48-96px;
    }
}
@media and (min-width 1000) and (max-width: 1100) {
    .software {
        background:url(images/software.png) 96-144px;
    }
}
@media and (min-width 900) and (max-width: 1000) {
    .software {
        background:url(images/software.png) 144-192px;
    }
}
@media and (min-width 800) and (max-width: 900) {
    .software {
        background:url(images/software.png) 192-240px;
    }
}
@media and (min-width 700) and (max-width: 800) {
    .software {
        background:url(images/software.png) 240-284px;
    }
}
@media and (min-width 600) and (max-width: 700) {
    .software {
        background:url(images/software.png) 284-336px;
    }
}

@media and (min-width 500) and (max-width: 600) {
    .software {
        background:url(images/software.png) 336-384px;
    }
}
@media and (min-width 400) and (max-width: 500) {
    .software {
        background:url(images/software.png) 384-432px;
    }
}
@media and (max-width: 400) {
    .software {
        background:url(images/software.png) 432-480px;
    }
}
